.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0;
}

.input {
  width: 215px;
  border: 1px solid #ccc;
  position: relative;
  height: 30px;
}

.button {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 30px;
  padding: 0 15px;
  letter-spacing: 0.05em;
  background-color: #ccc;
}
