.search {
  position: relative;
  cursor: pointer;
  height: 30px;
}

.search:hover > .input {
  opacity: 1;
  width: 300px;
  transition: all 1s ease-in-out;
}

.input:focus,
.input:active {
  opacity: 1;
  width: 300px;
}

.input {
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
  opacity: 0;
  letter-spacing: 0.05em;
}

.button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-image: url(/search.svg);
  background-size: 12px 12px;
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
